* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {

    #myInput {
        width: 70%;
    }

    .addBtn {
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

}
#headder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 80px;

}



#logo {
    width: 60px;
    height: 60px;
}

#name {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: #000000;
    padding-left: 15px;
}

#textArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

#myInput {
    background-color: #EEECEC;
    width: 70%;
    font-size: 30px;
    font-weight: bold;
    border: none;
    overflow: hidden;
    outline: none;
    padding: 5px;
    padding-left: 15px;

}

.addBtn {
    width: ;
    background-color: #0075FF;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.addBtn:hover {
    background-color: #0062d1;
}

@media only screen and (max-width: 600px) {

    #newTask {
        margin: auto;
        display: flex;
        width: 80%;
    }
    #message{
        font-size: 10px;


    }

}

#newTask {
    display: flex;
    margin: auto;
    width: 70%;
    font-size: 25px;
    font-weight: bold;
    padding-top: 100px;



}
Ul{
    margin: 0;
    padding: 0;
    width: 100%;


}
ul li{
    position: relative;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding:  5px 10px 5px 10px;
    list-style-type: none;
    width: 100%;
}
ul li:hover{
    color: white;
    background-color: #0062d1;
}
ul li:nth-child(odd):hover{
    color: white;
    background-color: #0062d1;
}
ul li:checked{
    background-color: #539df3;
    text-decoration: line-through;

}
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #0062d1;
    border-style: solid;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px 5px 10px;
  }
  
  .close:hover {
    background-color: #004390;
    color: white;}

    #message{
        display: block;
        text-align: center;
        font-size: 20px;
        font-style: italic;

    }