*{
    font-family: 'Oswald', sans-serif;
}
#headder{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding-top: 50px;

}

#logo{
width: 60px;
height: 60px;
}

#name{
font-family: 'Oswald';
font-style:normal;
font-weight:bold;
font-size: 60px;
color: #000000;
padding-left: 15px;
}

#textArea{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding-top: 100px ;
}
#myText{
    background-color: #EEECEC;
    width: 50%;
    font-size: 30px;
    font-weight: bold;
    border: none;
    overflow: hidden;
    outline: none;
    padding: 5px;
    padding-left: 15px;

}
.addBtn{
    width: 10%;
    background-color:#0075FF;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 5px;
    cursor: pointer ;
}
.addBtn:hover{
    background-color:#0062d1;
}
#newTask{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 60%;
    font-size: 20px;
    font-weight: bold;
}